@font-face {
  font-family: "Roboto";
  src: url("./fonts/Robotolight.woff2"), url("./fonts/Robotolight.woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto.woff2"), url("./fonts/Roboto.woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Robotomedium.woff2"), url("./fonts/Robotomedium.woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Robotobold.woff2"), url("./fonts/Robotobold.woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yeseva One";
  src: url("./fonts/yesevaone.woff2"), url("./fonts/yesevaone.woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  background-color: #151313;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header {
  height: 617px;
  position: relative;
  background-color: #181617;
  background-image: url("./img/header/header-cat.png");
  background-repeat: no-repeat;
  background-position: right 0 bottom 0;
}

.container {
  width: 320px;
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
}

.header__logo {
  margin-top: 27px;
  margin-bottom: 57px;
  display: block;
}
.header__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-self: center;
}
.header__city {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #a07b50;

  margin-bottom: 20px;
}
.header__title {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  margin-bottom: 30px;
}
.header__lead {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;

  color: #a07b50;

  margin-bottom: 40px;
}

.section-pets {
  background: #1f1c1d;
}

.section-pets__info {
  display: flex;
  flex-direction: column;
}

.section-pets__title {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  margin-top: 60px;
  margin-bottom: 35px;
}

.section-pets__lead {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #a07b50;
  margin-bottom: 40px;
}
.section-pets__list {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.section-pets__tab {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
}

.section-pets__slider {
  position: relative;
}

.button {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  width: 141px;
  height: 40px;
  border: 0.5px solid #a07b50;
  box-sizing: border-box;
  padding: 12px;
  display: inline-block;
  color: #ffffff;
  text-align: center;
}

.section-pets__button-wrapper {
  display: flex;
  align-self: center;
  justify-content: center;
}

.slider__prev {
  background-image: url("./img/svg/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  z-index: 5;
  display: block;
  width: 14px;
  height: 31px;
  border: none;
  background-color: transparent;
  left: 0;
}

.slider__next {
  background-image: url("./img/svg/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  z-index: 5;
  display: block;
  width: 14px;
  height: 31px;
  border: none;
  background-color: transparent;
  right: 0;
}
