@font-face {
  font-family: "Roboto";
  src: url("./fonts/Robotolight.woff2"), url("./fonts/Robotolight.woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto.woff2"), url("./fonts/Roboto.woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Robotomedium.woff2"), url("./fonts/Robotomedium.woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Robotobold.woff2"), url("./fonts/Robotobold.woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yeseva One";
  src: url("./fonts/yesevaone.woff2"), url("./fonts/yesevaone.woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  background-color: #151313;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.hidden {
  font-size: 0;
}

.header {
  height: 617px;
  position: relative;
  background-color: #181617;
  background-image: url("./img/header/header-cat.png");
  background-repeat: no-repeat;
  background-position: right 0 bottom 0;
}

@media (min-width: 768px) {
  .header {
    background-image: url("./img/header/header-cat-tablet.png");
  }
}

.container {
  width: 320px;
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

.header__logo {
  margin-top: 27px;
  margin-bottom: 52px;
  display: block;
}

@media (min-width: 768px) {
  .header__logo {
    align-self: center;
  }
}

.header__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-self: center;
}

@media (min-width: 768px) {
  .header__content {
    align-items: flex-start;
    align-self: flex-start;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .header__info {
    margin-left: 41px;
  }
}

.header__city {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #a07b50;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .header__city {
    font-size: 16px;
    line-height: 24px;
  }
}

.header__title {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  margin-bottom: 12px;
}

@media (min-width: 768px) {
  .header__title {
    width: 350px;
    font-size: 52px;
    line-height: 60px;
  }
}

.header__lead {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;

  color: #a07b50;

  margin-bottom: 38px;
}

@media (min-width: 768px) {
  .header__lead {
    font-size: 16px;
    line-height: 24px;
    width: 320px;
  }
}

@media (min-width: 768px) {
  .header__button {
    margin-left: 41px;
    margin-bottom: 150px;
  }
}

.header__social {
  display: none;
}

@media (min-width: 768px) {
  .header__social {
    display: block;
    margin-left: 41px;
  }
}

.header__social-list {
  display: flex;
  align-items: center;
}

.header__social-item {
  margin-right: 12px;
}

.header__social-item:last-child {
  margin-right: 0;
}

.header__social-vk {
  display: block;
  font-size: 0;
  background-image: url("./img/header/vk-tablet.svg");
  background-repeat: no-repeat;
  width: 13px;
  height: 8px;
}

.header__social-twitter {
  display: block;
  font-size: 0;
  background-image: url("./img/header/twitter-tablet.svg");
  background-repeat: no-repeat;
  width: 15px;
  height: 10px;
}

.header__social-facebook {
  display: block;
  font-size: 0;
  background-image: url("./img/header/facebook-tablet.svg");
  background-repeat: no-repeat;
  width: 5px;
  height: 11px;
}

.pets {
  background: #1f1c1d;
}

.pets__info {
  display: flex;
  flex-direction: column;
}

.pets__title {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  margin-top: 54px;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .pets__title {
    font-size: 36px;
    line-height: 42px;
  }
}

.pets__lead {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #a07b50;
  margin-bottom: 29px;
}

@media (min-width: 768px) {
  .pets__lead {
    font-size: 16px;
    line-height: 26px;
    width: 516px;
    align-self: center;
  }
}

.pets__list {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .pets__list {
    justify-content: center;
    margin-bottom: 45px;
  }
}

.pets__tab {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
}

.pets__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
}

@media (min-width: 768px) {
  .pets__item {
    margin-right: 50px;
    font-size: 18px;
    line-height: 21px;
  }

  .pets__item:last-child {
    margin-right: 0;
  }
}

.pets__item input {
  display: none;
}

.pets__slider {
  position: relative;
  margin-bottom: 11px;
}

@media (min-width: 768px) {
  .pets__slider {
    height: 533px;
    margin-bottom: 55px;
  }
}

.pets__slider-item {
  display: block;
}

.pets__slider-img {
  display: none;
}

@media (min-width: 768px) {
  .pets__slider-img {
    display: block;
  }
}

.pets__slider-img--active {
  display: block;
}

@media (min-width: 768px) {
  .pets__slider-img--left {
    position: absolute;
    bottom: 36%;
    right: 36%;
    z-index: 3;
  }

  .pets__slider-img--right {
    position: absolute;
    bottom: 36%;
    right: 4%;
    z-index: 2;
  }
}

@media (min-width: 768px) {
  .pets__slider-img--active {
    position: absolute;
    left: 20%;
    z-index: 4;
  }
}

.button {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  width: 141px;
  height: 40px;
  border: 0.5px solid #a07b50;
  box-sizing: border-box;
  padding: 12px;
  display: inline-block;
  color: #ffffff;
  text-align: center;
}

@media (min-width: 768px) {
  .button {
    width: 200px;
    height: 53px;
    padding: 18px;
    font-size: 14px;
    line-height: 16px;
  }
}

.pets__button-wrapper {
  display: flex;
  align-self: center;
  justify-content: center;
}

.slider__prev {
  background-image: url("./img/svg/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 44%;
  z-index: 5;
  display: block;
  width: 14px;
  height: 31px;
  border: none;
  background-color: transparent;
  left: -2px;
}

@media (min-width: 768px) {
  .slider__prev {
    background-image: url("./img/section-pets/arrow-prev-tablet.svg");
  }
}

.slider__next {
  background-image: url("./img/svg/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 44%;
  z-index: 5;
  display: block;
  width: 14px;
  height: 31px;
  border: none;
  background-color: transparent;
  right: -2px;
}

@media (min-width: 768px) {
  .slider__next {
    background-image: url("./img/section-pets/arrow-next-tablet.svg");
  }
}

.breed-features {
  background: #1f1c1d;
}

.breed-features__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.breed-features__title {
  margin-top: 55px;
  margin-bottom: 23px;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  text-align: center;

  color: #ffffff;
}

@media (min-width: 768px) {
  .breed-features__title {
    font-size: 36px;
    line-height: 42px;
  }
}

.breed-features__lead {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #a07b50;
  margin-bottom: 25px;
  width: 271px;
}

@media (min-width: 768px) {
  .breed-features__lead {
    font-size: 16px;
    line-height: 26px;
    width: 443px;
  }
}

.breed-features__image {
  position: relative;
  z-index: 1;
}

.breed-features__image::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 15px;
  z-index: -1;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.35);
}

.breed-features__image::after {
  content: "";
  position: absolute;
  top: 25px;
  left: -7px;
  z-index: -1;
  border-radius: 50%;
  width: 280px;
  height: 280px;
  border: 1px solid #a07b50;
}

@media (min-width: 768px) {
  .breed-features__image::before {
    top: 22%;
    left: 4%;
    width: 342px;
    height: 349px;
  }

  .breed-features__image::after {
    top: 16%;
    left: -5%;
    width: 416px;
    height: 424px;
  }
}

.breed-features__list {
  margin-top: 43px;
  width: 255px;
  line-height: 20px;
  position: relative;
}

@media (min-width: 768px) {
  .breed-features__list-wrapper {
    position: relative;
    height: 0;
    width: 400px;
  }
}

@media (min-width: 768px) {
  .breed-features__list {
    position: unset;
    width: 0;
  }
}

.breed-features__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  left: 0;
  text-align: left;
  color: #ffffff;
  margin-bottom: 21px;
}

@media (min-width: 768px) {
  .breed-features__item {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 0;
  }
}

.breed-features__item:last-child {
  margin-bottom: 55px;
}

@media (min-width: 768px) {
  .breed-features__item:last-child {
    margin-bottom: 0;
  }
}

.friendly::before {
  content: "";
  position: absolute;
  top: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #a07b50;
  left: -18px;
}

.trainable::before {
  content: "";
  position: absolute;
  top: 66px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #a07b50;
  left: -18px;
}

.large::before {
  content: "";
  position: absolute;
  top: 126px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #a07b50;
  left: -18px;
}

.appearance::before {
  content: "";
  position: absolute;
  top: 165px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #a07b50;
  left: -18px;
}

@media (min-width: 768px) {
  .friendly::before {
    top: 26px;

    width: 10px;
    height: 10px;
    left: 107%;
  }

  .friendly {
    position: absolute;
    bottom: 365px;
    left: -175px;
    width: 160px;
    text-align: right;
  }

  .trainable::before {
    top: 0px;
    width: 10px;
    height: 10px;
    left: -19px;
  }

  .trainable {
    position: absolute;
    bottom: 241px;
    left: 402px;
    width: 132px;
    text-align: left;
  }

  .large::before {
    top: -12px;
    width: 10px;
    height: 10px;
    left: -20px;
  }

  .large {
    position: absolute;
    bottom: 121px;
    left: 378px;
    width: 110px;
  }

  .appearance::before {
    top: 6px;
    width: 10px;
    height: 10px;
    left: 150px;
  }

  .appearance {
    position: absolute;
    bottom: 164px;
    left: -166px;
    width: 139px;
    text-align: right;
  }
}

.advantages__wrapper {
  margin-top: 53px;
  margin-bottom: 30px;
}

.advantages__title {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  margin: 0 auto;
  width: 184px;
  color: #ffffff;
  margin-bottom: 23px;
}

@media (min-width: 768px) {
  .advantages__title {
    font-size: 36px;
    line-height: 42px;
    width: unset;
  }
}

.advantages__lead {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  text-align: center;

  color: #a07b50;
  margin-bottom: 37px;
}

@media (min-width: 768px) {
  .advantages__lead {
    font-size: 16px;
    line-height: 23px;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__item {
  background: #1f1c1d;
  width: 290px;
  min-height: 248px;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .advantages__item {
    width: 360px;
    min-height: 307px;
    margin-bottom: 42px;
  }
}

.advantages__content {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
  height: 248px;
}

@media (min-width: 768px) {
  .advantages__content {
    font-size: 16px;
    line-height: 26px;
  }
}

.veterinary {
  background-image: url("./img/section-advantages/vet-care.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  height: 145px;
  margin-bottom: 14px;
}

.counselting {
  background-image: url("./img/section-advantages/counseling.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  height: 135px;
  margin-bottom: 14px;
}

.select-food {
  background-image: url("./img/section-advantages/food-select.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  height: 145px;
  margin-bottom: 14px;
}

@media (min-width: 768px) {
  .veterinary {
    background-image: url("./img/section-advantages/vet-care-tablet.svg");
    margin-bottom: 36px;
  }

  .counselting {
    background-image: url("./img/section-advantages/counselting-tablet.svg");
    margin-bottom: 36px;
  }

  .select-food {
    background-image: url("./img/section-advantages/food-select-tablet.svg");
    margin-bottom: 36px;
  }
}

.advantages__content span {
  max-width: 213px;
  margin: 0 auto;
  display: block;
}

.care {
  background-image: url("./img/section-care/bg-cat.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

@media (min-width: 768px) {
  .care {
    background-image: url("./img/section-care/bg-cat-tablet.jpg");
  }
}

.care__wrapper {
  padding-top: 10px;
  padding-bottom: 46px;
}

.care__title {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 42px;
  width: 228px;
  margin: 42px auto;
  color: #ffffff;
}

.care__list {
  display: flex;
  margin: 0 auto;
  padding: 0;
  flex-direction: column;
}

@media (min-width: 768px) {
  .care__list {
    align-items: center;
  }
}

.care__item {
  margin-bottom: 30px;
  width: 290px;
  min-height: 151px;
}

@media (min-width: 768px) {
  .care__item {
    width: 558px;
    height: 168px;
  }
}

.care__link {
  position: relative;
  display: block;
  border: 1px solid #a07b50;
  padding-top: 14px;
  padding-bottom: 25px;
  padding-left: 25px;
}

@media (min-width: 768px) {
  .care__link {
    padding-top: 39px;
    padding-bottom: 43px;
    padding-left: 49px;
  }
}

.care__link::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 46px;
  background-color: #a07b50;
  border-left: 1px solid #a07b50;
  background-image: url("./img/svg/show-details.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  .care__link::after {
    width: 59px;
    background-image: url("./img/section-care/arrow-tablet.svg");
  }
}

.care__link-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #a07b50;
  padding-bottom: 10px;
}

.care__link-info {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
  max-width: 211px;
}

@media (min-width: 768px) {
  .care__link-info {
    min-width: 420px;
  }
}

.team {
  background-color: #181617;
}

@media (min-width: 768px) {
  .team {
    height: 828px;
    background-color: #151313;
  }
}

.team__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 64px;
}

.team__title {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;

  text-align: center;

  color: #ffffff;
  padding-bottom: 23px;
  padding-top: 54px;
}

@media (min-width: 768px) {
  .team__title {
    font-size: 36px;
    line-height: 42px;
  }
}

.team__lead {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  width: 255px;
  margin-bottom: 36px;
  color: #a07b50;
}

@media (min-width: 768px) {
  .team__lead {
    font-size: 16px;
    line-height: 25px;
    width: unset;
  }
}

.team__slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

.team__slider-outer {
  position: absolute;
  width: 290px;
  height: 275px;
  z-index: -1;
  background: #1f1c1d;
  bottom: -27px;
}

@media (min-width: 768px) {
  .team__slider-outer {
    width: 600px;
    height: 362px;
    top: 13%;
  }

  .team__slider-outer::after {
    content: "";
    position: absolute;
    width: 649px;
    height: 409px;
    border: 0.5px solid rgba(160, 123, 80, 0.43);
    bottom: -22px;
    right: -24px;
  }
}

@media (min-width: 768px) {
  .team__img-wrapper {
    position: absolute;
    top: 105%;
    left: 65%;
  }
}

@media (min-width: 768px) {
  .team__slider-info {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    align-items: flex-start;
    width: 399px;
  }
}

.team__button-prev {
  background-image: url("./img/svg/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 15%;
  z-index: 5;
  display: block;
  width: 14px;
  height: 31px;
  border: none;
  background-color: transparent;
  right: 79%;
  z-index: 2;
}

.team__button-next {
  background-image: url("./img/svg/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 15%;
  z-index: 5;
  display: block;
  width: 14px;
  height: 31px;
  border: none;
  background-color: transparent;
  right: 17%;
  z-index: 2;
}

@media (min-width: 768px) {
  .team__button-prev {
    background-image: url("./img/section-team/arrow-prev-tablet.svg");
    top: 164%;
    right: 44%;
  }

  .team__button-next {
    background-image: url("./img/section-team/arrow-next-tablet.svg");
    top: 164%;
    right: -29%;
  }
}

.team__slider-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
  color: #a07b50;
}

@media (min-width: 768px) {
  .team__slider-title {
    font-size: 24px;
    line-height: 28px;
  }
}

.team__slider-subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 135.94%;
  text-align: center;
  padding-bottom: 15px;
  color: #a07b50;
}

@media (min-width: 768px) {
  .team__slider-subtitle {
    font-size: 16px;
    line-height: 22px;
  }
}

.team__slider-lead {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  width: 268px;
  color: rgba(255, 255, 255, 0.72);
  padding-bottom: 26px;
}

@media (min-width: 768px) {
  .team__slider-lead {
    width: unset;
    text-align: left;
    font-size: 16px;
    line-height: 25px;
  }
}

.team__social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 2;
}

@media (min-width: 768px) {
  .team__social-list {
    position: absolute;
    bottom: 30px;
    left: 24%;
  }
}

.team__social-item {
  margin-right: 15px;
}

.team__social-item:last-child {
  margin-right: 0;
}

.team__social-facebook {
  background-image: url("./img/section-team/facebook.svg");
  background-repeat: no-repeat;
  display: block;
  width: 5px;
  height: 12px;
}

.team__social-twitter {
  background-image: url("./img/section-team/twitter.svg");
  background-repeat: no-repeat;
  display: block;
  width: 16px;
  height: 12px;
}

.team__social-vk {
  background-image: url("./img/section-team/vk.svg");
  background-repeat: no-repeat;
  display: block;
  width: 18px;
  height: 10px;
}

.faq {
  background-color: #1f1c1d;
}

.faq__wrapper {
  padding-bottom: 28px;
}

.faq__title {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  padding-top: 65px;
  padding-bottom: 25px;
}

@media (min-width: 768px) {
  .faq__title {
    font-size: 36px;
    line-height: 42px;
  }
}

.faq__lead {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #a07b50;
  padding-bottom: 35px;
  width: 177px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .faq__lead {
    font-size: 16px;
    line-height: 23px;
    width: auto;
  }
}

@media (min-width: 768px) {
  .faq__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.faq__item {
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .faq__item {
    width: 553px;
  }
}

.faq__question {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  text-align: left;
  color: #ddd0c3;
  position: relative;
  box-sizing: border-box;
  background-color: #1f1c1d;
  border: 0.5px solid rgba(160, 123, 80, 0.41);
  width: 290px;
  padding: 11px;
  padding-right: 45px;
}

@media (min-width: 768px) {
  .faq__question {
    width: 553px;
    font-size: 16px;
    line-height: 19px;
    padding: 21px 140px 21px 25px;
  }

  .faq__question-active::before {
    content: "";
    background-image: url("./img/section-faq/01.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 59px;
    height: 47px;
    left: -15%;
    top: 19px;
  }

  .faq__question-second::before {
    content: "";
    background-image: url("./img/section-faq/02.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 59px;
    height: 47px;
    left: -15%;
    top: 19px;
  }

  .faq__question-third::before {
    content: "";
    background-image: url("./img/section-faq/03.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 59px;
    height: 47px;
    left: -15%;
    top: 19px;
  }

  .faq__question-fourth::before {
    content: "";
    background-image: url("./img/section-faq/04.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 59px;
    height: 47px;
    left: -15%;
    top: 19px;
  }
}

.faq__question::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("./img/svg/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-left: 0.5px solid rgba(160, 123, 80, 0.41);
  width: 43px;
  height: 100%;
}

.faq__question-active::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("./img/svg/minus.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-left: 0.5px solid rgba(160, 123, 80, 0.41);
  width: 43px;
  height: 100%;
  background-color: #a07b50;
}

@media (min-width: 768px) {
  .faq__question::after {
    width: 72px;
  }

  .faq__question-active::after {
    width: 72px;
  }
}

.faq__answer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  color: #ddd0c3;
  text-align: left;
}

@media (min-width: 768px) {
  .faq__answer {
    font-size: 16px;
    line-height: 154%;
  }
}

.faq__answer-show {
  border: 0.5px solid rgba(160, 123, 80, 0.41);
  border-top: none;
  padding: 8px 23px 15px 15px;
}

@media (min-width: 768px) {
  .faq__answer-show {
    padding: 25px 140px 26px 23px;
  }
}

.reviews {
  background-color: #1f1c1d;
  position: relative;
  z-index: 1;
}

.reviews__wrapper {
  padding-bottom: 51px;
}

.reviews__slider-outer {
  position: absolute;
  width: 290px;
  height: 357px;
  z-index: -1;
  background: #181617;
  bottom: 5px;
}

.reviews__title {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 57px;
}

.reviews__slider {
  position: relative;
  display: flex;
  flex-direction: column;
}

.reviews__img {
  width: 242px;
  height: 166px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.reviews__button-prev {
  background-image: url("./img/svg/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 16%;
  display: block;
  width: 14px;
  height: 31px;
  border: none;
  background-color: transparent;
  right: 96%;
  z-index: 2;
}

.reviews__button-next {
  background-image: url("./img/svg/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 16%;
  display: block;
  width: 14px;
  height: 31px;
  border: none;
  background-color: transparent;
  right: -2px;
  z-index: 2;
}

.reviews__slider-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  text-align: center;
  margin-bottom: 16px;
  color: #ffffff;
}

.reviews__slider-lead {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  align-items: center;
  width: 227px;
  color: rgba(255, 255, 255, 0.72);
  margin: 0 auto;
  margin-bottom: 25px;
}

.reviews__slider-social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

.reviews__slider-time {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #a07b50;
}

.reviews__slider-list {
  display: flex;
}

.reviews__slider-item {
  margin-right: 15px;
  width: 28px;
  height: 28px;
}

.reviews__slider-item:last-child {
  margin-right: 0;
}

.reviews__link-twitter {
  background-image: url("./img/section-reviews/twitter.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 16px;
  height: 12px;
  border: 0.5px solid rgba(160, 123, 80, 0.27);
  padding: 13px;
  margin: -5px;
}

.reviews__link-vk {
  background-image: url("./img/section-reviews/vk.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 18px;
  height: 10px;
  border: 0.5px solid rgba(160, 123, 80, 0.27);
  padding: 13px;
  margin: -5px;
}

.footer {
  background-color: #151313;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
}

.footer__address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;

  text-align: center;
  margin-bottom: 9px;
  padding-top: 36px;
  color: #d6ccc2;
}

.footer__phone {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 21px;
  color: #fdf2e6;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-bottom: 24px;
}

.footer__social-item {
  margin-right: 20px;
}

.footer__social-item:last-child {
  margin-right: 0;
}

.footer__link-facebook {
  background-image: url("./img/footer/facebook.svg");
  background-repeat: no-repeat;
  display: block;
  width: 7px;
  height: 16px;
}

.footer__link-twitter {
  background-image: url("./img/footer/twitter.svg");
  background-repeat: no-repeat;
  display: block;
  width: 22px;
  height: 16px;
}

.footer__link-vk {
  background-image: url("./img/footer/vk.svg");
  background-repeat: no-repeat;
  display: block;
  width: 25px;
  height: 14px;
}

.footer__logo {
  width: 56px;
  height: 25px;
  align-self: center;
  margin-bottom: 40px;
}
