@font-face {
  font-family: "Roboto";
  src: url("./fonts/_Roboto.woff2"), url("./fonts/_Roboto.woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/_Roboto.woff2"), url("./fonts/_Roboto.woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/_Robotomedium.woff2"), url("./fonts/_Robotomedium.woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/_Robotobold.woff2"), url("./fonts/_Robotobold.woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yeseva One";
  src: url("./fonts/_yesevaone.woff2"), url("./fonts/_yesevaone.woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  background-color: #151313;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header {
  background-color: #181617;
}

.container {
  width: 320px;
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
}

.header__logo {
    margin-top: 27px;
    margin-bottom: 57px;
    display: block;
}
.header__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-self: center;
}
.header__city {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #a07b50;

  margin-bottom: 20px;
}
.header__title {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  margin-bottom: 30px;
}
.header__lead {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;

  color: #a07b50;

  margin-bottom: 40px;
}

.header__button {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 14px;
width: 141px;
height: 40px;
border: 0.5px solid #a07b50;
box-sizing: border-box;
padding: 12px;
display: block;
color: #FFFFFF;
}
.header__img-wrapper {
}
